# Exploratory Data Analysis

In [1]:
import numpy as np
import pandas as pd
import os
import cv2
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
DATASET_PATH = '/home/alberto/Desktop/datasets/histopathologic-cancer-detection/'

In [3]:
labels = pd.read_csv(f'{DATASET_PATH}train_labels.csv')

In [4]:
import uuid

In [5]:
df = pd.DataFrame({'label': np.random.randint(2,size=(20)),
                  'file': [str(uuid.uuid4()) for i in range(20)]})
df.head()

   label                                  file
0      1  175ac747-4dce-4a63-a12c-96d38e9df5e0
1      1  b0dcc392-0683-4df1-bc2f-ce241a62c19f
2      0  280825ce-c4ab-479f-a176-0e5dfa6129bb
3      0  2ff334cc-56e0-4b6d-8ffe-b5dbf0bcf066
4      0  72ff144b-83d3-4047-9a72-1dd930e3271b

In [6]:
from sklearn.model_selection import train_test_split

In [24]:
train, validation = train_test_split(df, random_state=42, shuffle=True, test_size=0.2)

In [25]:
train

    label                                  file
8       0  9aaaeaa5-136d-4374-9fc0-7daacfd782b0
5       0  e1841773-2f4d-447e-9eef-aeb7b46ecd1d
11      0  4c546aaf-049c-4d8e-b9a1-5cc0e1e7dd76
3       1  c1ab1011-9526-437f-9a36-8367627ed6b8
18      0  095597d0-09a9-4816-a096-73b1b6b79980
16      0  335f1596-af27-49e6-a1c4-0c707be89c80
13      1  43de465b-4524-4e47-b8e6-a00697bd3eb2
2       0  6afe913f-c79a-44ea-ae9a-e26fe75a5bac
9       1  7f4b7c72-75c2-4241-a894-35069a24cbc1
19      0  664a47fa-c916-4007-8756-c7b313015596
4       1  33c9950e-e20e-44b9-9c62-a46b272a6229
12      0  58ce671d-d74b-41d3-9728-dedd3907aca0
7       1  8a5a0f6c-8375-4704-adcd-2080ae96da7a
10      1  42ebff78-a7bc-4f55-a036-d983f8580742
14      1  416a4838-3c09-4d51-87b5-73ab7bb3b367
6       0  145009ae-d216-4b64-a73f-2d0ff0a96b98

In [4]:
validation

NameError: name 'validation' is not defined